* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* hero styling start */

header {
  background-color: #1f2937;
  color: #e5e7eb;
  height: 33vh;
  padding: 0 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  flex-grow: 1;
  margin-bottom: -128px;
}

.hero-logo {
  font-size: 24px;
  color: #f9faf8;
}

a:link,
a:active,
a:visited,
a:hover {
  color: #f9faf8;
  text-decoration: none;
  margin-right: 12px;
}

.hero-container {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container > * {
  height: 50%;
  flex: 1;
  flex-wrap: wrap;
}

.hero-image {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

button {
  color: #e5e7eb;
  background-color: #3382f6;
  height: 32px;
  width: 96px;
  border-radius: 10px;
  margin-top: 12px;
}

/* hero styling end */
