* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* hero styling start */

header {
  background-color: #1f2937;
  color: #e5e7eb;
  height: 25vh;
  padding: 0 24vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  flex-grow: 1;
  margin-bottom: -128px;
}

.hero-logo {
  font-size: 24px;
  color: #f9faf8;
}

a:link,
a:active,
a:visited,
a:hover {
  color: #f9faf8;
  text-decoration: none;
  margin-right: 12px;
}

.hero-container {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container > * {
  height: 50%;
  flex: 1;
  flex-wrap: wrap;
}

.hero-image {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

button {
  color: #e5e7eb;
  background-color: #3382f6;
  height: 32px;
  width: 96px;
  border-radius: 10px;
  margin-top: 12px;
}

.cta-button1:hover {
  background-color: #1f2937;
}
/* hero styling end */
/* section 2 styling start */
.section2 {
  margin-top: 48px;
  margin-bottom: 48px;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  padding: 0 0 24px 0;
}

.container {
  display: flex;
  justify-content: center;
}

.subcontainer {
  color: #1f2937;
  width: 250px;
  text-align: center;
}

.info {
  text-align: center;
}
/* section 2 styling end */
/* section 3 styling start */
.section3 {
  height: 300px;
  margin-top: 48px;
  margin-bottom: 48px;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 18px;
}

blockquote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  width: 50%;
}

.quote-attribution {
  font-size: 24px;
  font-weight: 900;
  color: #1f2937;
  /* align-self: flex-end; */
  width: 50%;
}
/* section 3 styling end */
/* section 4 styling start */
.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 0;
}

.section4-container {
  background-color: #3382f6;
  border-radius: 6px;
  height: 100px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 24px 76px;
}

.cta-header {
  font-size: 18px;
  color: #f9faf8;
  text-align: left;
  padding: 0;
}

.cta-text {
  font-size: 16px;
  color: #e5e7eb;
}

.cta-button2 {
  border-color: #f9faf8;
}

.cta-button2:hover {
  border-color: #f9faf8;
  background-color: #1f2937;
}

/* Section 4 styling end */
/* Footer styling start*/
footer {
  height: 4vh;
  font-size: 16px;
  color: #e5e7eb;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Footer styling end*/
