* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* hero styling start */

header {
  background-color: #1f2937;
  color: #e5e7eb;
  height: 33vh;
  padding: 0 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  flex-grow: 1;
  margin-bottom: -128px;
}

.hero-logo {
  font-size: 24px;
  color: #f9faf8;
}

a:link,
a:active,
a:visited,
a:hover {
  color: #f9faf8;
  text-decoration: none;
  margin-right: 12px;
}

.hero-container {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container > * {
  height: 50%;
  flex: 1;
  flex-wrap: wrap;
}

.hero-image {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

button {
  color: #e5e7eb;
  background-color: #3382f6;
  height: 32px;
  width: 96px;
  border-radius: 10px;
  margin-top: 12px;
}
/* hero styling end */
/* section 2 styling start */
.section2 {
  height: 33vh;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  padding: 24px;
}

.container {
  display: flex;
  justify-content: center;
}

.subcontainer {
  color: #1f2937;
  width: 250px;
  text-align: center;
}

.info {
  text-align: center;
}
/* section 2 styling end */
/* section 3 styling start */
.section3 {
  height: 25vh;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 700px;
  /* I don't think padding is correct because when minimized text spills */
}

blockquote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quote-attribution {
  font-size: 24px;
  font-weight: 900;
  color: #1f2937;
  align-self: flex-end;
}
/* section 3 styling end */
/* section 4 styling start */
